*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

body{
    height: 100%;
    width: 95%;
    color: white;
    background-color: rgb(52, 54, 80);
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 0px;
    /* background-color: #4158D0;
    background-image: linear-gradient(45deg, #4158D0 0%, #284475 66%); */
    background-image: url('Images/download.jpg');

}
.container
{
    height: 100%;
    width: 100%;
    align-items: center;
    overflow: none;
    display: flex;
    flex-direction: column;
    color: white;
    
}
.navContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.Menu{
    width: 80%;
    height: 100%;
    list-style-type: none;
    font-size: 1.1rem;

    display: flex;
    justify-content:space-between;
    align-items: center; 
    position: absolute;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 10px;
}
.logo img{
    height: 1.7rem;
    width: 6rem;
}
.login-button , .feedback-button ,.details-button{
    height: 2.4rem;
    border: 1px solid gray;
    background-color: none;
    border-radius: 10px;
    margin: 3px;
    padding: 0 5px 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback-button ,.details-button{
    width: 5.7rem;
}
.login-button{
    width: 2rem;
}
.login-button:hover ,.feedback-button:hover ,.details-button:hover{
    border: 1px solid rgb(103, 164, 255);
    background-color: rgba(136, 137, 151, 0.329);
}
.login-button p ,.feedback-button p,.details-button p{
    font-size: large;   
}
.feedback-button span,.option span ,.details-button span{
    color: white;
    display: flex;
    align-items: center;
    gap: 3px;
}
.login-button a,.feedback-button a,.details-button span{
    color: white;
    text-decoration: none;
}
#login{
    color: white;
    text-decoration: none;
}
header{
    display: flex;
    margin: 10px;
}
ul{
    list-style-type: none;
    position: relative;
}
.select_menu{
    height: 100%;
    display: flex;
    align-items: center;
}
.m1,.m2{
    position: absolute;
    z-index: 2;
    top: 100%;
    width: 15rem;
    height: 30rem;
    background-color: rgba(128, 128, 128, 0.92);
    border: 1px solid gray;
    border-radius: 7px;
    padding: 10px;
    columns: 2;
    opacity: 0;
    transition: opacity 0.1s ease;
    transform-origin: 100% 0%;
    overflow: hidden;
    pointer-events: none;
}
.select_menu:hover .m1{
    opacity: 1;
    z-index: 2;
    pointer-events:auto;
}
.select_menu1:hover.m2{
    opacity: 1;
    z-index: 2;
    pointer-events:auto;
}
.Menu a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle1 {
    top: 20px;
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
    transform-origin: 50% 50%;
    overflow: hidden;
}
.display_menu:hover .circle1 {
    transform: translateY(150%) scale(1.2);
    opacity: 1;
    background-color: rgb(103, 164, 255);
}
.display_menu:hover{
    color: rgb(103, 164, 255);
}
.display_menu{
    position: relative;
    display: inline-block;
    margin: 5px 0;
    text-decoration: none;
    cursor: pointer;
    padding-right: 20px;
    color: white;
    transition: all 500ms ease 0s;
}
.m1 a{
    color: white;
    text-decoration: none;
    
}
.search-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}
.aside-bar{
    width: 24vw;
    height: 100%;
    border: 1px solid rgb(52, 54, 80);
    border-radius: 20px;
    background-color: rgba(66, 117, 156, 0.801);
    float: right;
    margin: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(20px);
    color: white;
    z-index: 2;
    box-shadow:0 0 30px rgba(0,0,0,.5); 
}
.more-container{
    width: 24vw;
    height: 60%;
}
.head{
    height: 2.5rem;
    width: 100%;
    color: white;
    font-size: 0.8rem;
    text-align: center;
}
.i-movie,.i-movie1{
    height: 8vh;
    padding: 10px;
    display: flex;
    color: white;
    text-decoration: none;
    transition: all 500ms ease 0s;
}
.i-movie1{
    background-color: rgba(48, 50, 79, 0.212);
}
.i-movie:hover,.i-movie1:hover{
    background-color: rgba(11, 70, 112, 0.358);
    color: rgb(132, 166, 235);
}
.i-movie img,.i-movie1 img{
    height: 3.5rem;
    width: 2.5rem;
    margin: 5px;
}
.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
.checked{
    color: gray;
}
.rate{
    width: 60%;
    color: white;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-content
{
    height: 100%;
    width: 66vw;
    margin: 10px;
    float: left;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.movie-container{
    width: 100%;
    height: 80vh;
    background-color: rgba(66, 117, 156, 0.801);
    border-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow:0 0 30px rgba(0,0,0,.5);
}
.movie-content{
    height: 420px;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.425);
}
.movie{
    height: 355px;
    width: 100%;
    padding-bottom: 20px;
}
.movie video{
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
    border-radius: 20px;
}
.option-bar{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}
.options-bar-left{
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.options-bar-right
{
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.option
{
    height: 100%;
    font-size: 0.9rem;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px;
    padding-left:10px;
    padding-right: 10px;
    transition: all 500ms ease 0s;
    display: flex;
    align-items: center;
}
.option:hover .select1{
    background-color:rgb(103, 164, 255);
}
.option:hover{
    color: rgb(103, 164, 255);
    border: 1px solid rgba(56, 52, 52, 0.589);
    background-color: rgba(56, 52, 52, 0.589);
    border-radius: 10px;
    padding: 5px;
    padding-left:10px;
    padding-right: 10px;
}
.option:hover span{
    color: orange;
}
.select1{
    height: 12px;
    width: 12px;
    border: none;
    border-radius: 50%;
    color: rgb(128, 128, 128);
    background-color: gray;
    border: 1px solid rgb(61, 60, 60);
    appearance: none;
    transition: all 500ms ease 0s;
}
.select1:checked{
    background-color: rgba(235, 39, 39, 0.559);
}
.extra{
    width: 95%;
    height: 20%;
    display: flex;
    margin: 10px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
}
.extra p{
    font-size: medium;
}
.buttons{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button{
    width: 9rem;
    height: 2.5rem;
    border: 1px solid rgba(128, 128, 128, 0.048);
    color: rgba(207, 207, 207, 0.388);
    background-color: rgba(128, 128, 128, 0.201);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: medium;
    transition: all 800ms ease 0s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover{
    border: 1px solid rgb(103, 164, 255);
    background-color: rgba(128, 128, 128, 0.523);
    color: white;
}
.movie-info-container{
    width: 95%;
    height: 380px;
    border: 1px solid rgba(75, 77, 103, 0.801);
    background-color: rgba(66, 117, 156, 0.801);
    border-radius: 20px;
    display: flex;
    padding: 1.3rem;
    backdrop-filter: blur(20px);
    z-index: 2;
    box-shadow:0 0 30px rgba(0,0,0,.5);
}
.movie-info-container aside{
    height: 100%;
    width: 45%;
    float: left;
}
.movie-poster{
    height: 100%;
    width: 45%;
}
.movie-poster img{
    height: 53vh;
    width: 20vw;
    border-radius: 20px;
}
.title-rating{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    gap: 10px;
    color: white;
}
.status{
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: medium;
    color: white;
    gap: 10px;
}
.status span{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}
.imdb{
    height: 0.9rem;
    width: 2.5rem;
    padding: 4px;
    font-size: 0.8rem;
    border: 1px solid rgb(212, 180, 0);
    background-color: rgb(212, 180, 0);
    border-radius: 5px;
    color: black;
}
.rating,.quality{
    height: 1rem;
    width: 3rem;
    padding: 4px;
    font-size: 0.8rem;
    border: 1px solid gray;
    background-color: rgba(128, 128, 128, 0.452);
    color: white;
}
p{
    color: white;
}
.meta{
    height: 70%;
    color: white;
}
.tag div,
.tag span {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed */
    margin: 4px;
}   
.meta a,span{
    text-decoration: none;
    color: rgb(193, 193, 193);
}
.comment-section-container{
    height: 530px;
    width: 95%;
    border: 1px solid rgba(75, 77, 103, 0.801);
    background-color: rgba(66, 117, 156, 0.801);
    border-radius: 20px;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    backdrop-filter: blur(20px);
    z-index: 2;
    box-shadow:0 0 30px rgba(0,0,0,.5); 
}
.head-comment{
    color: white;
    font-size: 0.6rem;
}
.comment-login-container{
    width: 100%;
    height: 6%;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    border-bottom: 2px solid white;
}
.comment-status{
    width: 80%;
    height: 4%;
    display: flex;
}
a{
    text-decoration: none;
}
.login-social select,option{
    background-color: rgba(66, 117, 156, 0.801);
    color: rgb(155, 153, 153);
    border: none;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}
.login-social select:hover{
    color: rgb(201, 201, 201);
}
.login-with a{
    color:#fff;
    line-height:30px;
    font-size:30px;
    margin: 0 5px;
    text-decoration:none;
}
.social-container{
    display: flex;
    gap: 10px;
}
.social-container #symbol{
    height: 3.3rem;
    width: 3.3rem;
    border: 1px solid gray;
    border-radius: 17px;
    background-color: white;
    color: rgb(74, 73, 73);
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}
.comment{
    width: 95%;
    height: 24vh;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.comment #text1{
    width: 95%;
    height: 20%;
    padding: 0.9rem;
    color: white;
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 20px;
    border: none;
}

.social-media{
    display: flex;
    justify-content:flex-start;
    align-items: top;
    gap: 10px;
    padding-bottom: 10px;
}
.social-media p{
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.signup-with{
    width: 78%;
}
.comment #text2{
    width: 97%;
    height: 2%;
    padding: 0.9rem;
    color: white;
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}
.others{
    width: 100%;
    height: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}
.like-share{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.like{
    width: 15%;
    height: 28px;
    border:1px solid rgba(75, 77, 103, 0.801);
    font-size:160%;
    color:white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.like:hover{
    border:1px solid white;
    
}
.like span:hover{
    color: red;
}
.share{
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 400ms ease 0s;
    position: relative;
    
}
.images{
    display: flex;
    align-items: center;
}
.images img,.images i{
    height: 25px;
    width: 25px;
    border: 1px solid rgba(75, 77, 103, 0.801);
    background-color: rgba(111, 111, 120, 0.801);
    text-align: center;
    border-radius: 4px;
}
.share:hover .images-container{
    opacity: 1;
    pointer-events: auto;
}
.images-container{
    width: 60%;
    height: 28px;
    display: flex;
    align-items: center;
    position: absolute;
    gap: 10px;
    left: 50px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 400ms ease 0s;
}
.filter-comment{
    width: 20%;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-comment a{
    color: rgb(47, 46, 46);
    font-weight: 500;
    transition: all 500ms ease 0s;
    border-bottom: 2px solid rgba(75, 77, 103, 0.801);
}
.filter-comment a:hover{
    color: white;
    border-bottom: 2px solid white;
    font-weight: 500;
}
.display-comment{
    width: 100%;
    height: 25%;
    border-bottom: 2px solid white  ;
}
.other-links-container{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items:first baseline;
}
.symbols{
    display: flex;
    align-items: center;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    gap: 4px;
}
.symbols #box{
    height: 20px;
    width: 20px;
    border: 1px solid rgba(128, 128, 128, 0.441);
    background-color: rgba(128, 128, 128, 0.441);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    gap: 4px;
}
.left-container{
    width: 50%;
    display: flex;
    gap: 19px;
}
.right-container a{
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
}
footer{
    width: 100vw;
    height: 30vh;
    margin-top: 20px;
    background-color: rgba(7, 72, 118, 0.801);
    border-top: 1px solid rgba(128, 128, 128, 0.311);
    backdrop-filter: blur(20px);    
}
.footer-container{
    width: 94%;
    height: 86%;
    margin: 30px 40px 0px 40px;
    
}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 5px;
}
.footer-logo img{
    height: 1.4rem;
    width: 5rem;
}
.footer-info{
    height: 75%;
    border-bottom: 1px solid rgba(186, 186, 186, 0.564);

}
.footer-nav-container{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}
.footer-p{
    width: 60%;
}
.footer-p p{
    font-size: 0.95rem;
    font-weight: 370;
    color:rgb(186, 186, 186);
}
.nav-container{
    width: 35%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-container a{
    font-size: 0.9rem;
    font-weight: 400;
}

.circle {

    position: absolute;
    left: 20px;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
    transform-origin: 50% 50%;
    overflow: hidden;
}
.nav-link {
    position: relative;
    display: inline-block;
}
.nav-link:hover .circle {
    transform: translateY(-150%) scale(1.2);
    opacity: 1;
    background-color: rgb(103, 164, 255);
}
.nav-link:hover{
    color: rgb(103, 164, 255);
}
.nav-link{
margin: 5px 0;
text-decoration: none;
color: rgb(186, 186, 186);
cursor: pointer;
padding-right: 20px;
}
.copyright{
    height: 24%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(186, 186, 186);
}
.copyright p{
    color: rgb(186, 186, 186);
}
::-webkit-scrollbar {
width: 10px; /* Set the width of the scrollbar */

}

::-webkit-scrollbar-thumb {
background-color: #3c91ebbb; /* Set the color of the thumb (the draggable part) */
border-radius: 4px;

}

::-webkit-scrollbar-track {
background-color: rgba(79, 100, 125, 0.712);/* Set the color of the track (the non-draggable part) */
}

/* Optional: Handle for the scrollbar */
::-webkit-scrollbar-handle {
background-color: #cccccc;
}